
#main{
	height:  80vh;
}

#nav {
	/* // border: 1px solid black; */
	width: 70%;
	background-color: #F0FFFF ;
	display: flex;
}

.navigation{
	/* // width: 11%; */
	text-transform: uppercase;
	background: #60a3bc;
	padding: 1%;
	border-radius: 50px;
	font-weight: bold;
	/* font-size: 1.2vw; */
}